grpc-stubs==1.53.0.6 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.72.1 ; python_version >= "3.12" and python_version < "4.0"
protobuf==6.31.1 ; python_version >= "3.12" and python_version < "4.0"
