grpc-stubs==1.53.0.6 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.71.0 ; python_version >= "3.12" and python_version < "4.0"
protobuf==5.29.4 ; python_version >= "3.12" and python_version < "4.0"
